<nav
  class="mb-1 navbar navbar-expand-lg navbar-dark navbar-fixed fixed-top topNav"
  *ngIf="authenticationService.isAuthenticated"
>
  <a class="navbar-brand" href="#">
    <img
      class="bg-light rounded-circle"
      style="width:45px;height:45px"
      alt="Angular Logo"
      src="./assets/img/wbms-logo.png"
    />
    <span class="font-weight-bold">&nbsp;WMBS</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mainNav"
    aria-controls="navbarSupportedContent-4"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="fas fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-1 mt-1 ">
        <a class="nav-link" href="#">
          <i class="fas fa-envelope fa-lg mx-1"></i>
          <span class="badge badge-dot"></span>
        </a>
      </li>
      <li class="nav-item mr-2 mt-1">
        <a class="nav-link" href="#">
          <i class="fas fa-truck mx-1"></i>
          <span class="badge badge-dot"></span>
        </a>
      </li>
      <li class="nav-item dropdown active mr-3">
        <div class="dropdown" style="z-index:200">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
              class="rounded-circle"
              height="30"
              alt=""
            />
            <span>&nbsp;&nbsp;John Doe Smith</span>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuButton"
          >
            <li><a class="dropdown-item" href="#">My Account</a></li>
            <li>
              <button (click)="logout()" class="dropdown-item">Logout</button>
            </li>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
