body {
    color: #000;
    overflow-x: hidden;
    // height: 100%;
    background-color: #B0BEC5;
    background-repeat: no-repeat;
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;
    position: relative;
    width: 100%;
    height: 750px;
}

.card2 {
    margin: 0px 40px;
    background-color: #0096EB;
    margin: 5%;
    height: 750px;
}

.logo {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 30%;
    border-radius: 50%;
}

.image {
    width: 360px;
    height: 280px
}

.border-line {
    border-right: 1px solid #EEEEEE
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.row.d-flex {
    background-color: #5FDAF5;
}

.btn-primary {
    // background-color: #1A237E;
    margin-left: 30%;
    box-shadow: 2px 2px 3px #757575;
    width: 150px;
    color: #fff;
    border-radius: 5px
}

.btn-primary:hover {
    // background-color: #000;
    cursor: pointer;
}

// .bg-blue {
//     color: #fff;
//     background-color: #1A237E
// }
@media screen and (max-width: 991px) {
    .logo {
        margin-left: 25%;
    }
    .border-line {
        border-right: none
    }
    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px;
        margin-bottom: 5%;
    }
}