<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="../../assets/img/img1.jpg" class="logo"> </div>
                    <h1 class="font-weight-bold text-center">WATER BILLING MANAGEMENT SYSTEM</h1>
                    <p class="font-weight-bold text-center">"Lorem ipsum dolor it quilt livi slap mustard peanut butter, chilli pepper"</p>
                </div>
            </div>
            <div class=" loginForm col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="font-weight-bold mb-5">
                        <h1>SIGN IN</h1>
                    </div>
                    <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
                        <div class="row px-3">
                            <label class="mb-1">
                            <h6 class="mb-0 text-sm font-weight-bold required">Username</h6>
                            </label>
                            <input class="mb-4" type="text" name="username" ngModel placeholder="Enter username">
                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm font-weight-bold required">Password</h6>
                            </label>
                            <input type="password" name="password" ngModel placeholder="Enter password">
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm font-weight-bold">Remember me</label>
                            </div> <a href="#" class="ml-auto mb-0 text-sm font-weight-bold">Forgot Password?</a>
                        </div>
                        <button type="submit" class="btn btn-primary text-center">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>