<div class="wrapper fadeInDown mt-4 loginCard">
  <div
    class="main shadow-lg p-5 mb-5 rounded center"
    style="background:rgba(255, 255, 255, 0.884)"
  >
    <div class="fadeIn first">
      <img
        class="logo center"
        src="./assets/img/wbms-logo.png"
        id="icon"
        alt="User Icon"
      />
    </div>

    <form
      #signInForm="ngForm"
      (ngSubmit)="onSubmit(signInForm.value)"
      autocomplete="off"
    >
      <div class="form-group" style="position: relative;">
        <label for="email" class="icon"> <i class="fa fa-user"></i> </label
        >&nbsp;&nbsp;
        <input
          type="text"
          ngModel
          name="username"
          placeholder="Username"
          required
        />
      </div>
      <p class="text-left text-danger" *ngIf="usernameInvalid">
        Username is required!
      </p>
      <div class="form-group mb-2" style="position: relative;">
        <label for="email" class="icon"> <i class="fa fa-lock"></i> </label
        >&nbsp;&nbsp;
        <input
          type="password"
          ngModel
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <p class="text-left text-danger" *ngIf="passwordInvalid">
        Password is required!
      </p>
      <br />

      <p class="text-center text-danger" *ngIf="incorrectCredentials">
        Invalid Username or Password
      </p>
      <div class="d-flex justify-content-center mb-3" *ngIf="waitResponse">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-block mt-2 mb-2 px-5 py-2"
        style="border-radius: 30px;"
      >
        Sign In
      </button>
    </form>
  </div>
</div>
