<div id="page-content-wrapper">
  <div class="page-content">
    <div class="container">
      <!-- breadcrumb -->
      <div class="bg-white shadow  mt-3 rounded" style="position: relative;">
        <button
          id="menu-toggle"
          class="btn btn-primary rounded-circle text-center mt-2 ml-1 float-left"
          style="padding-left:13px;padding-right:13px;padding-top:8px;padding-bottom:8px;"
          (click)="toggle()"
        >
          <i class="fa fa-bars"></i>
        </button>
        <ol class="breadcrumb bg-white mb-1 py-3 px-3 ml-3">
          <li class="breadcrumb-item active" aria-current="page">
            <a [routerLink]="['dashboard']">Home</a> 
          </li>
        </ol>
      </div>
      <!-- breadcrumb -->

      <!-- Place your page content here -->
      <!-- Cards -->
      <div class="row">
        <div class="col-md-4">
          <div class="card mx-sm-1 p-3 mt-4 shadow">
            <div class="card shadow text-success p-3 dash-card">
              <span class="fa fa-money-bill">
                <span class="ml-5"> Transaction Records</span>
              </span>
            </div>
            <div class="text-info text-center mt-3 rounded-circle"></div>
            <div class="text-info text-center mt-2">
              <h1>
                {{ transactionRecordsNumber }}
              </h1>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card  mx-sm-1 p-3 mt-4 shadow">
            <div class="card shadow text-primary p-3 dash-card">
              <span class="fa fa-home">
                <span class="ml-5"> Number of Household</span>
              </span>
            </div>
            <div class="text-info text-center mt-3 rounded-circle"></div>
            <div class="text-info text-center mt-2">
              <h1>
                {{ householdNumber }}
              </h1>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-sm-1 p-3 mt-4 shadow">
            <div class="card shadow text-info p-3 dash-card">
              <span class="fa fa-user-tie">
                <span class="ml-5"> Number of Employee</span>
              </span>
            </div>
            <div class="text-info text-center mt-3 rounded-circle"></div>
            <div class="text-info text-center mt-2">
              <h1>
                {{ employeeNumber }}
              </h1>
            </div>
          </div>
        </div>
      </div>
     
    
      <!-- Chart -->
      <div class="bg-white shadow rounded my-3 p-4" style="height:50%;">
      <!-- <button class="btn btn-primary float-right">Year</button> -->
      <select class="btn btn-white shadow-0 border float-right" name="" id="select">
          <option name="year" value="" *ngFor = "let year of dataYear">{{year}}</option>
      </select>
        <canvas id="myChart">
        </canvas>
      </div>
      <!-- Chart -->
    </div>
  </div>
</div>

