<!-- Cards -->
<div class="row">
  <div class="col-md-4">
    <div class="card mx-sm-1 p-3 mt-4 shadow">
      <div class="card shadow text-success p-3 dash-card">
        <span class="fa fa-money-bill">
          <span class="ml-5"> Transaction Records</span>
        </span>
      </div>
      <div class="text-info text-center mt-3 rounded-circle"></div>
      <div class="text-info text-center mt-2">
        <h1 id="voters">
          0
        </h1>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card  mx-sm-1 p-3 mt-4 shadow">
      <div class="card shadow text-primary p-3 dash-card">
        <span class="fa fa-home">
          <span class="ml-5"> Number of Household</span>
        </span>
      </div>
      <div class="text-info text-center mt-3 rounded-circle"></div>
      <div class="text-info text-center mt-2">
        <h1 id="voters">
          0
        </h1>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mx-sm-1 p-3 mt-4 shadow">
      <div class="card shadow text-info p-3 dash-card">
        <span class="fa fa-user-tie">
          <span class="ml-5"> Number of Employee</span>
        </span>
      </div>
      <div class="text-info text-center mt-3 rounded-circle"></div>
      <div class="text-info text-center mt-2">
        <h1 id="voters">
          0
        </h1>
      </div>
    </div>
  </div>
</div>
<!-- Cards -->

<!-- Chart -->
<div class="bg-white shadow rounded my-3 p-4" style="height:50%;">
  <canvas id="myChart"></canvas>
</div>
<!-- Chart -->
