#wrapper {
    overflow-x: hidden;
    background-color: white;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    // /* background-color: #304ffe; */
    // background: url(../img/coffee1.jpg), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    // background-repeat: no-repeat;
    // background-size: cover;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

#top_selling_table {
    background-color: white;
}

.mt-2 rounded-circle {
    width: 95%;
    height: 100%;
}

.list-group {
    margin-left: 2%;
}

.card-img-top {
    height: 100%;
}

.card-body {
    background-color: #E1DBDB;
    box-shadow: 0px 4px 8px 0px #757575;
}

.row.container {
    margin-left: 5%;
}

.table {
    background-color: #E1DBDB;
    box-shadow: 0px 4px 8px 0px #757575;
}

@media screen and (max-width: 991px) {
    .row.container {
        margin-left: 1%;
    }
}

// .bg-brown,
// .bg-brown:hover {
//     background-color: #8B4513;
//     border: none;
// }
// .active {
//     background-color: burlywood!important;
// }
// .card {
//     height: 70%;
// }
// .fab {
//     right: 15%;
//     border: #007bff 1px solid;
//     font-weight: bold;
//     padding-top: 1%;
//     border-radius: 50%;
//     height: 100px;
//     width: 100px;
//     margin-top: 2%;
// }
// .add_product {
//     font-size: 20px!important;
// }
// .add_order {
//     font-size: 22px!important;
// }