<div id="page-content-wrapper">
    <div class="row container pt-5">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="" alt=""></a> -->
                <div class="card-body  text-white">
                    <h4 class="card-title text-center">
                        <a href="#" class="text-white ">Total Products</a>
                    </h4>
                    <div class="text-center">
                        <h5 id="prodTotal">0</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="" alt=""></a> -->
                <div class="card-body text-white">
                    <h4 class="card-title text-center">
                        <a href="#" class="text-white">Total Products Sold</a>
                    </h4>
                    <div class="text-center">
                        <h5 id="prodTotalSale">0</h5>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <!-- <a href="#"><img class="card-img-top" src="" alt=""></a> -->
                <div class="card-body text-white">
                    <h4 class="card-title text-center">
                        <a href="#" class="text-white">Stocks</a>
                    </h4>
                    <div class="text-center">
                        <h5 id="prodTotalStock">0</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col">
            <table class="table table-striped table-bordered" id="top_selling_table">
                <thead>
                    <tr>
                        <td colspan="4" class="text-center h3">
                            Top Selling Products
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Brand</th>
                        <th scope="col">Stock </th>
                        <th scope="col">Product per piece </th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>