<div
  class="container-fluid bg-white shadow mt-3 pageContent rounded px-4 py-2 mb-5"
>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary px-5" (click)="navigate()">
      Back
    </button>
  </div>
  <hr />
  <div class="bg-primary rounded px-2">
    <div class="row p-2">
      <div class="col-md-4">
        <div class="d-flex justify-content-center my-3">
          <img
            class="rounded-circle"
            style="width:250px;height: 250px;"
            src="../assets/img/wbms-customer.jpg"
            alt=""
          />
        </div>
      </div>

      <div class="col-md">
        <!-- Righ Side Content -->
        <div class="m-3 text-white border p-2" style="position:relative">
          <h5>Household #: {{ customerID }}</h5>
          <button
            class="btn btn-white shadow rounded-circle text-center px-2 py-2"
            style="position:absolute;right:2px;top:2px"
            *ngIf="Authorized"
          >
            <i class="fa fa-pen" style="font-size:20px"></i>
          </button>
          <div class="row">
            <div class="col-md">
              <div class="form-group mb-2" style="position: relative;">
                <label class="icon"> <i class="fa fa-dot"></i> </label
                >&nbsp;&nbsp;
                <input
                  type="text"
                  ngModel="{{ firstName }}"
                  name="firstName"
                  readonly
                  placeholder="First name"
                  required
                />
              </div>
            </div>
            <div class="col-md">
              <div class="form-group mb-2" style="position: relative;">
                <label class="icon"> <i class="fa fa-dot"></i> </label
                >&nbsp;&nbsp;
                <input
                  type="text"
                  ngModel="{{ lastName }}"
                  name="lastName"
                  placeholder="Last Name"
                  readonly
                  required
                />
              </div>
            </div>
            <div class="col-md">
              <div class="form-group mb-2" style="position: relative;">
                <label class="icon"> <i class="fa fa-dot"></i> </label
                >&nbsp;&nbsp;
                <input
                  type="text"
                  ngModel
                  name="middleName"
                  placeholder="Middle Name"
                  readonly
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group mb-2" style="position: relative;">
                <label class="icon"> <i class="fa fa-dot"></i> </label
                >&nbsp;&nbsp;
                <input
                  type="text"
                  ngModel="{{ email }}"
                  name="email"
                  readonly
                  placeholder="Email"
                  required
                />
              </div>
            </div>
            <div class="col-md">
              <div class="form-group mb-2" style="position: relative;">
                <label class="icon"> <i class="fa fa-dot"></i> </label
                >&nbsp;&nbsp;
                <input
                  type="text"
                  ngModel="{{ contactNumber }}"
                  name="contactNumber"
                  placeholder="Contact Number"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="form-group mb-2" style="position: relative;">
                <label class="icon"> <i class="fa fa-dot"></i> </label
                >&nbsp;&nbsp;
                <input
                  type="text"
                  ngModel="{{ address }}"
                  name="address"
                  readonly
                  placeholder="Address"
                  required
                />
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end" *ngIf="Authorized">
            <button class="btn btn-warning px-5 mx-1">Update</button>
          </div>
        </div>
        <!-- End Right side content -->
      </div>
    </div>
    <hr />
  </div>
  <!-- TABS -->
  <div class="container-fluid bg-white">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#transaction"
          >Pending Transactions</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#transactionHistory"
          >Transaction History</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#statistics">Statistics</a>
      </li>
    </ul>

    <div class="tab-content">
      <!-- Pending Transaction -->
      <div id="transaction" class="tab-pane fade in active show">
        <table class="table mt-4 shadow">
          <thead>
            <tr class="shadow" style="background:rgb(29, 144, 252)">
              <th scope="col">Transaction #</th>
              <th scope="col">Meter Reading(/m³)</th>
              <th scope="col">Total Amount(₱)</th>
              <th scope="col">Reading Date</th>
              <th scope="col">Due Date</th>
              <th scope="col">Recorded By</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of pendingTransaction">
              <th scope="row">{{ transaction.id }}</th>
              <td>{{ transaction.meterReading }}</td>
              <td>{{ transaction.total_amount }}</td>
              <td>{{ transaction.reading_date }}</td>
              <td>{{ transaction.due_date }}</td>
              <td>
                {{ transaction.recorded_by.firstName }}
                {{ transaction.recorded_by.lastName }}
              </td>
              <td class="text-center">
                <button
                  type="button"
                  class="btn btn-primary px-4"
                  data-toggle="modal"
                  data-target="#payment"
                  data-backdrop="static"
                  data-keyboard="false"
                  (click)="payInfo(transaction.id)"
                >
                  <i class="fas fa-money-bill-alt"></i>
                  &nbsp; Pay
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="noPending">No Pending Transaction Yet</h4>
      </div>
      <!-- Transaction History -->
      <div id="transactionHistory" class="tab-pane fade in">
        <table class="table mt-4 shadow">
          <thead>
            <tr class="shadow" style="background:rgb(29, 144, 252)">
              <th scope="col">Transaction #</th>
              <th scope="col">Meter Reading(/m³)</th>
              <th scope="col">Total Amount</th>
              <th scope="col">Rendered Amount</th>
              <th scope="col">Change</th>
              <th scope="col">Transacted By</th>
              <th scope="col">Transacted Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of paidTransaction">
              <th scope="row">{{ transaction.id }}</th>
              <td>{{ transaction.meterReading }}</td>
              <td>{{ transaction.total_amount }}</td>
              <td>{{ transaction.rendered_amount }}</td>
              <td>{{ transaction.change }}</td>
              <td>
                {{ transaction.recorded_by.firstName }}
                {{ transaction.recorded_by.lastName }}
              </td>
              <td class="text-center">
                {{ transaction.transactedDate }}
              </td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="noHistory">No Transaction History Yet</h4>
      </div>
      <div id="statistics" class="tab-pane fade in">
        <div style="height:50%">
          <div class="mt-4">
              <select class="btn btn-white shadow-0 border float-right" name="" id="select">
                  <option name="year" value="" *ngFor = "let year of dataYear">{{year}}</option>
              </select>
            <canvas id="myChart" width="400" height="125"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL -->
  <div
    class="modal fade"
    id="payment"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <svg class="spinner" viewBox="0 0 50 50" *ngIf="loadingInfoData">
      <circle
        class="path"
        cx="25"
        cy="25"
        r="20"
        fill="none"
        stroke-width="5"
      ></circle>
    </svg>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content px-4">
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 130.2 130.2"
          *ngIf="saved"
        >
          <circle
            class="path circle"
            fill="none"
            stroke="#73AF55"
            stroke-width="6"
            stroke-miterlimit="10"
            cx="65.1"
            cy="65.1"
            r="62.1"
          />
          <polyline
            class="path check"
            fill="none"
            stroke="#73AF55"
            stroke-width="6"
            stroke-linecap="round"
            stroke-miterlimit="10"
            points="100.2,40.2 51.5,88.8 29.8,67.5 "
          />
        </svg>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Transaction Form</h5>
          <button
            type="button"
            class="close"
            (click)="cancel()"
            [disabled]="saving == true"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body p-4">
          <h5><span>Transaction #: </span>{{ transactionID }}</h5>
          <div class="d-flex justify-content-end">
            <p><b>Reading Date:</b> {{ readingDate }}</p>
            <p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
            <p><b>Due Date: </b>{{ dueDate }}</p>
          </div>
          <div class="d-flex justify-content-end">
            <p class=""><b>Teller:&nbsp;&nbsp;</b>{{ teller }}</p>
          </div>

          <div class="border p-3">
            <table style="width:100%">
              <tr class="border-bottom">
                <td><p>Customer Name</p></td>
                <td>
                  <p>{{ customername }}</p>
                </td>
              </tr>
              <tr class="border-bottom">
                <td><span>Meter Reading</span></td>
                <td>
                  <p class="mb-2 mt-2">{{ meterReading }}<b> m³</b></p>
                </td>
              </tr>
              <tr class="border-bottom">
                <td><b style="font-size:22px">Total Amount</b></td>
                <td>
                  <b style="font-size:22px"
                    ><span style="font-size:25px">₱ </span>{{ totalAmount }}</b
                  >
                </td>
              </tr>
            </table>
          </div>
          <br />
          <hr />
          <!-- Form Start Here -->
          <form
            #Form="ngForm"
            (ngSubmit)="onSubmit(Form.value)"
            autocomplete="off"
          >
            <input type="hidden" ngModel="{{ id }}" name="transactedBy" id="" />
            <div class="row mb-2">
              <div class="col-md">
                <div
                  class="form-group mb-3"
                  style="position: relative;border-bottom-color: black"
                >
                  <label class="icon">
                    <i class="fa fa-money-bill-alt"></i> Render Amount</label
                  >
                  <input
                    type="number"
                    class="pay"
                    (focus)="focusFunction()"
                    ngModel="{{ rendered_amount }}"
                    name="rendered_amount"
                    placeholder="Render Cash"
                    required
                  />
                </div>
                <span class="text-danger" *ngIf="notEnough"
                  >Rendered amount is Not Enongh</span
                >
              </div>
              <div class="col-md">
                <p>Change</p>
                <h3 class="mt-4">
                  ₱&nbsp;<span style="font-size:30px">{{
                    change | number: "1.2-2"
                  }}</span>
                </h3>
              </div>
            </div>
            <hr />
            <div class="savingData loading-animation" *ngIf="saving"></div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="cancel()"
                [disabled]="saving == true"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-success px-5"
                [disabled]="rendered == false || saving == true"
                (click)="recordPayment()"
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                  *ngIf="saving"
                ></span>
                Pay
              </button>
            </div>
          </form>
          <!-- Form end Here -->
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL END HERE -->
  <!-- FOR PRINT -->
  <div id="reciept">
    <div class="modal-dialog modal-lg">
      <div
        class="modal-content px-4"
        [style.background-image]="'url(../assets/img/wbms-logo.png)'"
        style="background-size:70%;background-repeat: no-repeat;background-position-x: center;"
      >
        <div
          class="modal-body p-4"
          style="background:rgba(255, 255, 255, 0.712)"
        >
          <div class="card-header">
            <h4 class="text-center">Stark Waterworks System</h4>
            <p class="text-center">Water Billing Management System</p>
          </div>
          <h5><span>Transaction #: </span>{{ transactionID }}</h5>
          <div class="d-flex justify-content-end">
            <p><b>Reading Date:</b> {{ readingDate }}</p>
            <p>&nbsp;&nbsp;|&nbsp;&nbsp;</p>
            <p><b>Due Date: </b>{{ dueDate }}</p>
          </div>
          <div class="d-flex justify-content-end">
            <p class=""><b>Teller:&nbsp;&nbsp;</b>{{ teller }}</p>
          </div>

          <div class="border border-primary p-3">
            <table style="width:100%">
              <tr class="border-bottom border-info">
                <td><p>Customer Name</p></td>
                <td>
                  <p>{{ customername }}</p>
                </td>
              </tr>
              <tr class="border-bottom border-info">
                <td><span>Meter Reading</span></td>
                <td>
                  <p class="mb-2 mt-2">{{ meterReading }}<b> m³</b></p>
                </td>
              </tr>
              <tr class="border-bottom border-info">
                <td><b style="font-size:22px">Total Amount</b></td>
                <td>
                  <b style="font-size:22px"
                    ><span style="font-size:25px">₱ </span>{{ totalAmount }}</b
                  >
                </td>
              </tr>
              <tr class="border-bottom border-info">
                <td><h6>RENDERED AMOUNT</h6></td>
                <td><h6>0.00</h6></td>
              </tr>
              <tr class="border-bottom border-info">
                <td><h6>CHANGE</h6></td>
                <td><h6>0.00</h6></td>
              </tr>
            </table>
          </div>
          <br />
          <hr />
        </div>
      </div>
    </div>
  </div>
  <!-- END FOR PRINT -->
</div>
