<div id="page-content-wrapper">
    <div class="row container pt-5">
        <div class="col-lg-4 col-md-6 mb-4">
            <button class="btn btn-primary ml-3">Record New Reading</button>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-search fa-2x"></i>
            </span>
            <input type="text" class="form-control ml-2" />
        </div>
    </div>
    <div class="row container">
        <div class="col">
            <table class="table table-striped table-bordered ml-3 mr-3" id="top_selling_table">
                <thead>
                    <tr>
                        <th scope="col">House No.</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Water Consumption</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody id="tbody" *ngFor="let createTransactions of createTransactions">
                    <td class="font-weight-bold">{{createTransactions.houseNo}}</td>
                    <td class="font-weight-bold">{{createTransactions.customerName}}</td>
                    <td class="font-weight-bold">{{createTransactions.waterConsumption}}</td>
                    <td class="font-weight-bold">{{createTransactions.amount}}</td>
                    <button class="btn btn-primary ml-5 mt-2 mb-2">view</button>
                </tbody>
            </table>
        </div>
    </div>
    <button class=" bottom btn btn-primary mr-5 mb-2">Previous</button>
    <button class="bottom btn btn-primary mr-2 mb-2">Next</button>
</div>