#page-content-wrapper {
    overflow-x: hidden;
    background-color: #E1DBDB;
    margin: 5%;
}

.input-group {
    float: right;
    // width: 50%;
    margin-left: 40%;
    margin-right: 2%;
    margin-top: -5%;
}

.table {
    background-color: white;
    box-shadow: 0px 4px 8px 0px #757575;
}

.bottom.btn {
    float: right;
}

@media screen and (max-width: 991px) {
    .input-group {
        margin-top: -20%;
    }
    .table {
        width: 100px;
    }
}